body {
    margin: 0;
    padding: 0;
    background-color: rgba(42, 20, 238, 0.808);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h5,
h2,
p {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #fff;
}

h2 {
    font-size: 40px;
}

h1 {
    color: #000;
}

a {
    font-family: "Lucida Console", "Courier New", monospace;
    padding-right: 20px;
    display: inline-block;
    text-align: right;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.tabs {
    padding-right: 50px;
}

.signup-link {
    color: rgb(20, 140, 219);
    text-decoration: none;
}

.forgot-link {
    color: rgb(20, 140, 219);
    margin-left: -55px;
    text-decoration: none;
    margin-top: 20px;
}

.login-form {
    width: 250px;
    height: 450px;
    padding: 50px;
    text-align: center;
    background: rgb(240, 237, 234);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin-left: 20px;
    float: right
}

.signup-form {
    width: 250px;
    height: 450px;
    padding: 50px;
    text-align: center;
    background: rgb(240, 237, 234);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.input-field {
    border-radius: 4px;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 5px;
    border-color: #fff;
}

.bottom-btn {
    background-color: rgb(20, 140, 219);
    color: #fff;
    border-color: transparent;
    border-radius: 12px;
    font-size: 20px;
    width: 195px;
    height: 45px;
    margin-top: 15px;
    cursor: pointer;
}

.signup-btn-top {
    background-color: rgb(20, 140, 219);
    color: #fff;
    border-color: transparent;
    border-radius: 8px;
    margin-bottom: 28px;
}

.login-btn-top {
    background-color: rgb(20, 140, 219);
    color: #fff;
    border-color: transparent;
    border-radius: 8px;
    margin-bottom: 28px;
}

.login-btn {
    background-color: #fff;
    border-radius: 8px;
    border-color: rgb(222, 236, 238);
    cursor: pointer;
}

.signup-btn {
    background-color: #fff;
    border-radius: 8px;
    border-color: rgb(222, 236, 238);
    cursor: pointer;
}

.price-btn {
    background-color: rgb(55, 228, 55);
    text-align: center;
    color: #fff;
    border-radius: 8px;
    border-color: rgb(55, 228, 55);
    width: 115px;
    height: 30px;
}

.getstarted-btn {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    margin-left: 20px;
}